<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<script src="https://code.jquery.com/jquery.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<title>EatDaBurger!</title>
	</head>

	<body>
		<div class='container'>
			<div class='jumbotron'>
				<h1>EatDaBurger!</h1>
				<img id='titleImage' src="/assets/img/burger.png" alt="Burger">
			</div>
		 	{{{body}}}
		<div>
	</body>
</html>