* {
    box-sizing: border-box;
}

body {
    background-color: #E9967A;
}

@font-face {
    font-family: BobsBurgers;
    src: local("BobsBurgers"), url(BobsBurgers.ttf);
}

#burgerName {
    padding: 5px;
    font-size: 36px;
    font-size: 4vw;
    margin-bottom: 5px;
}

.jumbotron,
#burgerName,
#devourBtn {
    text-align: center;
    font-family: BobsBurgers;
    color: #B22222;
    border-width: 5px;
    border-color: #B22222;
}

.jumbotron,
#burgerName {
    background-color: #FFD700;
    border-style: double;
}
#devourBtn{
	border-style: solid;
}

#devourBtn:hover {
    opacity: 0.5;
}

.jumbotron h1 {
    font-size: 36px;
    font-size: 10vw;
}
#titleImage {
	width: 20%;
	height: auto;
}
